*{box-sizing: border-box;margin: 0;padding: 0;}
img 
{
    max-width: 100%;
}
.navbar
{
    height: 50px;
}
.navbar-brand
{
    width: 4%;
    
}
.drop_icon
{
    font-size: 25px;
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}
.drop_icon:hover
{
    color: black;
}
.navbar_ul a 
{
    color: black!important;
}
.why_dropebox_0 
{
    position: relative;
}
.navbar_ul li:hover
{
    background-color: #F8F5F2;
}
.why_dropebox 
{
    position: absolute;
    width: 350%;
    left: 0px;
    top: 53px;
}
.why_dropebox ul 
{
    display: block;
    font-size: 13px;
}
.why_dropebox
{
    background-color: #F8F5F2;
    display: none;
}
.why_dropebox a:hover
{
    background-color: #dcd9d4;
}
.why_dropebox_0:hover .why_dropebox 
{
   display: flex;
}
.product 
{
    position: relative;
}
.product_1 
{
    position: absolute; 
    width: 250%;
    left: 0px;
    top: 53px;
    background-color: #F8F5F2;
    display: none;
} 
.product_1  p 
{
    font-size: 12px;
}
.product_2
{
   width: 20%; 
}
.product:hover .product_1
{
    display: block;
}
.solution 
{
    position: relative;
}
.solution_1   
{
    position: absolute;
    width: 500%;
    left: 0px;
    top: 53px;
}
.solution_1 ul 
{
    display: block;
    font-size: 13px;
}
.solution_1
{
    background-color: #F8F5F2;
    display: none;
}
.solution_1 a:hover 
{
    background-color: #dcd9d4;
}
.solution:hover .solution_1 
{
   display: flex;
}
.contact 
{
    position: relative;
}
.contact_1   
{
    position: absolute;
    width: 500%;
    right: 0px;
    top: 48px;
}
.contact_1 ul 
{
    display: block;
    font-size: 13px;
}
.contact_1
{
    background-color: #F8F5F2;
    display: none;
}
.contact_1 a:hover 
{
    background-color: #dcd9d4;
}
.contact:hover .contact_1 
{
   display: flex;
}
.get_app 
{
    position: relative;
}
.get_app_1   
{
    position: absolute;
    width: 250%;
    right: 0px;
    top: 48px;
}
.get_app ul 
{
    display: block;
    font-size: 13px;
}
.get_app_1
{
    background-color: #F8F5F2;
    display: none;
}
.get_app_1 a:hover 
{
    background-color: #dcd9d4;
}
.get_app:hover .get_app_1 
{
   display: flex;
}


