<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Information About DC</h2>

<table>
  <tr>
    <th>Aspect</th>
    <th>Details</th>
    
  </tr>
  <tr>
    <td>Owner</td>
    <td>GMR Group and JSW Group</td>
    
  </tr>
  <tr>
    <td>Captain</td>
    <td>Rishabh Pant</td>
   
  </tr>
  <tr>
    <td>Coach</td>
    <td>Ricky Ponting</td>
   
  </tr>
  <tr>
    <td>Home Ground</td>
    <td>Arun Jaitley Stadium, Delhi </td>
    
  </tr>
  <tr>
    <td>Colors</td>
    <td>Blue and Red</td>
    
  </tr>
  <tr>
    <td>IPL Championships</td>
    <td>0</td>
    
  </tr>
  <tr>
    <td>Slogan/Motto</td>
    <td>This Is New Delhi</td>
    
  </tr>
  <tr>
    <td>Team Song</td>
    <td>"Roar Machaa"</td>
    
  </tr>
</table>

</body>
</html>