<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Information About KKR</h2>

<table>
  <tr>
    <th>Aspect</th>
    <th>Details</th>
    
  </tr>
  <tr>
    <td>Owner</td>
    <td>Knight Riders Sports Private Ltd. (owned by Shah Rukh Khan, Juhi Chawla, Jay Mehta)</td>
    
  </tr>
  <tr>
    <td>Captain</td>
    <td>Shreyas Iyer</td>
   
  </tr>
  <tr>
    <td>Coach</td>
    <td>Brendon McCullum</td>
   
  </tr>
  <tr>
    <td>Home Ground</td>
    <td>Eden Gardens, Kolkata</td>
    
  </tr>
  <tr>
    <td>Colors</td>
    <td>Purple and Gold</td>
    
  </tr>
  <tr>
    <td>IPL Championships</td>
    <td>2 Times</td>
    
  </tr>
  <tr>
    <td>Slogan/Motto</td>
    <td>Korbo, Lorbo, Jeetbo (We will do it, fight for it, win it)</td>
    
  </tr>
  <tr>
    <td>Team Song</td>
    <td>"Korbo Lorbo Jeetbo Re"</td>
    
  </tr>
</table>

</body>
</html>