<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Information About MI</h2>

<table>
  <tr>
    <th>Aspect</th>
    <th>Details</th>
    
  </tr>
  <tr>
    <td>Owner</td>
    <td>Reliance Industries</td>
    
  </tr>
  <tr>
    <td>Captain</td>
    <td>Hardik Pandya</td>
   
  </tr>
  <tr>
    <td>Coach</td>
    <td>Mahela Jayawardene</td>
   
  </tr>
  <tr>
    <td>Home Ground</td>
    <td>Wankhede Stadium, Mumbai</td>
    
  </tr>
  <tr>
    <td>Colors</td>
    <td>Blue</td>
    
  </tr>
  <tr>
    <td>IPL Championships</td>
    <td>5 Times</td>
    
  </tr>

  <tr>
    <td>Team Song</td>
    <td>Duniya hiala denge</td>
    
  </tr>
</table>

</body>
</html>