<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Information About SRH</h2>

<table>
  <tr>
    <th>Aspect</th>
    <th>Details</th>
    
  </tr>
  <tr>
    <td>Owner</td>
    <td>Sun TV Network</td>
    
  </tr>
  <tr>
    <td>Captain</td>
    <td>Pat Cummins</td>
   
  </tr>
  <tr>
    <td>Coach</td>
    <td>Trevor Bayliss</td>
   
  </tr>
  <tr>
    <td>Home Ground</td>
    <td>Rajiv Gandhi International Cricket Stadium, Hyderabad</td>
    
  </tr>
  <tr>
    <td>Colors</td>
    <td>Orange and Black</td>
    
  </tr>
  <tr>
    <td>IPL Championships</td>
    <td>1 (2016)</td>
    
  </tr>
  <tr>
    <td>Slogan/Motto</td>
    <td>Orange Army</td>
    
  </tr>
  <tr>
    <td>Team Song</td>
    <td>"Rise up to every Challenge"</td>
    
  </tr>
</table>

</body>
</html>